name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run formatting
      run: cargo fmt --check
    - name: Build
      run: cargo build --verbose
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - name: Run script tests
      run: python run_tests.py --debug
      env:
        SKIP_BUILD: "1"
    - name: Clippy
      run: cargo clippy
    - name: Test
      run: cargo test
